@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Arvo&family=Crimson+Pro&family=Lobster&family=Merriweather+Sans&family=Signika+Negative&family=Vollkorn:ital,wght@1,500;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
}
.left-part {
    background-image: url(/images/city.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    width: 50%;
    height: 30vh;
}
.right-part {
    clip-path: polygon(100% 1%, 0 0, 100% 100%);
    background-image: url(/images/countryside1.jpg);
    background-size: cover;
    width: 50%;
    height: 30vh;
}
.top-menu {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #f1a32d 40%, #087a2e 100%);
    height: 30vh;
}
.title {
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
